<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lreebom.springbootlearn.mapper.DeptMapper">
    <select id="selectById" resultType="com.lreebom.springbootlearn.model.entity.Dept">
        select id, dept_name, create_time, update_time
        from dept
        where id = #{id}
        and deleted = 0
    </select>

    <select id="selectByDeptName" resultType="com.lreebom.springbootlearn.model.entity.Dept">
        select id, dept_name, create_time, update_time
        from dept
        where dept_name = #{deptName}
        and deleted = 0
    </select>

    <select id="selectList" resultType="com.lreebom.springbootlearn.model.vo.DeptVO">
        select id, dept_name, create_time, update_time
        from dept
        where deleted = 0
        order by create_time desc
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into dept (dept_name)
        values (#{deptName})
    </insert>

</mapper>